# Ignore Visual Studio specific files
.vs/
*.suo
*.user
*.userosscache
*.sln.docstates
*.dtbcache.v2

# Ignore build output directories
[Bb]in/
[Oo]bj/

# Ignore NuGet packages
*.nupkg
packages/

# Ignore project-related cache files
*.cache
*.log
*.ilk
*.pdb
*.obj
*.exe
*.dll
*.vspscc
*.vssscc
*.csproj.user

# Ignore other unnecessary files
Thumbs.db
.DS_Store
/Hairhub.Domain/obj/Debug/net8.0/Hairhub.Domain.AssemblyInfo.cs
# Ignore all files in obj/Debug directories
**/obj/Debug/

# Ignore all files in obj/Debug/net8.0 directories
**/obj/Debug/net8.0/

Hairhub.API/obj/
Hairhub.Domain/obj/
Hairhub.Infrastructure/obj/
Hairhub.Service/obj/
